:root {
  --bs-gutter-x: 1.5rem;
  --main-color : #007BD1;
  --text-color:#696A70;
  --title-size:24px;
  --bg: #ffffff;
  --text: #000000;
}

html.dark {
  --bg: #121212;
  --text: #ffffff;
}
/* Reset */
body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}
*{
  font-family: 'inter';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Start Container */
.container{
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 1400px){
    .container {
      max-width: 98%;
    }
  }
  @media (min-width: 1200px) and (max-width:1399px){
    .container {
      max-width: 1380px;
    }
  }
  @media (min-width: 992px) and (max-width:1199px){
    .container {
      max-width: 1180px
    }
  }
  @media (min-width: 767px) and (max-width:991px){
    .container {
        max-width: 970px;
    }
  }
  @media (min-width: 576px) and (max-width:767px){
    .container {
        max-width: 740px;
    }
  }
  @media screen and (max-width:575px){
    .container {
        max-width: 98%;
    }
  }
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
